- content_for :body_class, 'themer'

.well
  = simple_form_for [:website, theme], html: { id: 'themer-form' } do |f|
    .row
      %fieldset.col-sm-12.color-pickers
        %legend Colors
        .row
          - Theme::COLOR_VARS.each do |var|
            .col-sm-2
              = f.input var do
                .input-group
                  = f.input_field "#{var}_color", class: "form-control pick-color"
                  %span.input-group-addon
                    .swatch{ style: "background-color: #{theme.color(var)}" }
    .row
      %fieldset.col-sm-12.font-pickers
        %legend Fonts
        .row
          - Theme::FONT_VARS.each do |var|
            .col-sm-2
              = f.input "#{var}_font", label: var.capitalize, collection: Theme::FONT_STACKS,
                input_html: { style: "font-family: #{theme.font(var)}" }
    %fieldset.image-pickers
      %legend Images
      .row
        - Theme::IMAGE_VARS.each do |var|
          .col-sm-3
            = f.input var, wrapper_html: { class: 'preview-input' } do
              .image-preview{ style: "background-image: #{theme.image_url(var)}" }
              %input.image-base64{ 'data-name': "theme[#{var}_base64]", type: 'hidden' }
              = f.file_field var
    .text-right
      %input#preview-url{ name: 'preview_url', type: 'hidden' }
      = f.submit class: 'btn btn-primary'
.row
  .col-sm-12
    .panel.panel-default.browser
      .panel-heading
        %h1.panel-title Preview
      .panel-body
        .browser-toolbar
          .buttons
            %button.browser-back.btn.btn-default ◄
            %button.browser-forward.btn.btn-default ►
          %form.browser-form
            %input.browser-location.form-control{ value: preview_url }
        %iframe.browser-viewport{ src: preview_url }
